
CloudComputing/blobstorage/MyDemoApp/obj/Debug/net9.0/MyDemoApp.AssemblyInfo.cs
CloudComputing/blobstorage/MyDemoApp/obj/Debug/net9.0/MyDemoApp.AssemblyInfoInputs.cache
CloudComputing/blobstorage/MyDemoApp/obj/Debug/net9.0/MyDemoApp.assets.cache
CloudComputing/blobstorage/MyDemoApp/obj/Debug/net9.0/MyDemoApp.csproj.AssemblyReference.cache
CloudComputing/blobstorage/MyDemoApp/obj/Debug/net9.0/MyDemoApp.GeneratedMSBuildEditorConfig.editorconfig
CloudComputing/blobstorage/MyDemoApp/obj/MyDemoApp.csproj.nuget.dgspec.json
CloudComputing/blobstorage/MyDemoApp/obj/MyDemoApp.csproj.nuget.g.props
CloudComputing/blobstorage/MyDemoApp/obj/project.assets.json
CloudComputing/blobstorage/MyDemoApp/obj/project.nuget.cache
